#visual studio project files
/.vs
#
#debug files
Win32/
Debug/
x64/

*.iobj
*.ipdb
*.pdb
*.obj
*.tlog
*.log
*.cache
*.vcxproj.user

SimulationsRunner/Win32
SimulationsRunner/Debug

Simulations/Win32
Simulations/Debug

SimulatorTester/Win32
SimulatorTester/Debug
